.list{
    margin:10px 20px;
    label{font-size: 24px;color:white;}

    .each{
        border-left: 5px solid transparent; cursor: pointer;
        background-color: rgba(50,50,100,0.5);
        margin: 5px 0px;padding: 10px;
        text-decoration: none;
        .position{color: white;margin-right: 10px;font-size: 20px;}
        .thumbnail{
            .spinner{width: 75px;height: 100px;}
            .missing{width: 75px;height: 100px;color: gray;border: 1px solid gray;}
            img{width: 75px;height: 100px;object-fit: cover;}
        }
        .info{
            .title{color: white;margin-left: 5px;padding: 5px;}
            .other{color: gray;margin-left: 5px;padding: 5px;}
            .genres{
                color: gray;margin-left: 5px;padding: 5px;align-items: center;
                div{color: white;margin: 2px;}
            }
        }
    }
    .each:hover{background-color: rgba(50,50,100,1);border-left: 5px solid purple;}

    .ranges{
        color: white;
        margin: 4px 0px;
        div{padding:5px;cursor: default;margin: 0px 4px;border: 1px solid transparent;}
        div:hover{border: 1px solid rgba(0,100,200,1);}
        .select{background-color: rgba(0,100,200,1);}
    }
}